[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ansible playbooks to configure a simple CentOS 7 dev VM, aimed to be compatible with Fedora
[access "refs/*"]
	owner = group user/Joseph (eganjs)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Joseph (eganjs)
	label-Verified = -1..+1 group user/Joseph (eganjs)
	push = group user/Joseph (eganjs)
	read = group user/Joseph (eganjs)
	rebase = group user/Joseph (eganjs)
	removeReviewer = group user/Joseph (eganjs)
	submit = group user/Joseph (eganjs)
[access "refs/heads/*"]
	create = group user/Joseph (eganjs)
	push = +force group user/Joseph (eganjs)
	pushMerge = group user/Joseph (eganjs)
	read = group user/Joseph (eganjs)
[access "refs/tags/*"]
	push = group user/Joseph (eganjs)
	push = +force group user/Joseph (eganjs)
